<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Computations Practice</title>
</head>

<body>
    <div id="root">
        <h1>All Tasks</h1>
        <ul>
            <!--'v-if' is a conditional directive (super cool!!) in this 
                instance it only displays tasks if they are completed"-->
            <li v-for="task in tasks" v-if="task.completed" v-text="task.description">

            </li>
        </ul>
    </div>

    <script src='https://unpkg.com/vue@2.5.16/dist/vue.js'></script>
    <script>

        var app = new Vue({
            el: '#root',

            data: {
                tasks: [
                    { description: 'buy groceries', completed: true },
                    { description: 'clean room', completed: false },
                    { description: 'do laundry', completed: false },
                    { description: 'pay rent', completed: true }
                ]
            },

            computed: {
                reversedMessage() {
                    return this.message.split('').reverse().join('')
                }
            }
        })

    </script>
</body>

</html>