<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Computations Practice</title>
</head>

<body>
    <div id="root">
        <h2>All Tasks</h2>
        <ul>
            <li v-for="task in tasks" v-text="task.description">

            </li>
        </ul>

        <h2>Incomplete Tasks</h2>
        <ul>
            <li v-for="task in incompleteTasks" v-text="task.description">

            </li>
        </ul>

        <h2>Complete Tasks</h2>
        <ul>
            <li v-for="task in completeTasks" v-text="task.description">

            </li>
        </ul>
    </div>

    <script src='https://unpkg.com/vue@2.5.16/dist/vue.js'></script>
    <script>

        var app = new Vue({
            el: '#root',

            data: {
                tasks: [
                    { description: 'buy groceries', completed: true },
                    { description: 'clean room', completed: false },
                    { description: 'do laundry', completed: false },
                    { description: 'pay rent', completed: true }
                ]
            },
            //goes through the list of tasks and finds the tasks where completed = false (not completed)
            //the list is displayed under the "Incomplete Tasks" heading
            computed: {
                incompleteTasks() {
                    return this.tasks.filter(task => !task.completed);
                },
                completeTasks() {
                    return this.tasks.filter(task => task.completed)
                }
            }
        })

    </script>
</body>

</html>